@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(180deg, rgba(245, 245, 219, 0) 0%, rgba(245, 245, 219, 1) 100%);
  }
}